/*displaying canvas and info text*/
.gameLayout {
    flex: 1;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-items: center; 
    padding-bottom: 144px;
}

#canvasContainer {
    grid-column: 2;
}

.gameBackground {
    position: relative;
    width: 100%;
    height: 100vh;
}

.headerL {
    position: fixed;
    top: 0;
    left: 5%;
    width: 10%;      
    background: url("/Assets/Game_Page/Game/Upper_Rect_Background_L.png");
    background-position: center; 
    background-repeat: no-repeat;
    height: 120px;
    z-index: 1;
}
.headerM {
    position: fixed;
    top: 0;
    left: 5%;
    width: 70%;      
    background: url("/Assets/Game_Page/Game/Upper_Rect_Background_M.png");
    background-position: center; 
    height: 120px;
    z-index: 1;
}
.headerR {
    position: fixed;
    top: 0;
    left: 85%;
    width: 10%;      
    background: url("/Assets/Game_Page/Game/Upper_Rect_Background_R.png");
    background-position: center; 
    background-repeat: no-repeat;
    height: 120px;
    z-index: 1;
}

/* Sand on bottom of the screen */
.sand {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;      
    background: url("/Assets/Game_Page/Game/Sand.png");
    height: 144px;
    z-index: 1;
}

.goldfish_R {
    position: fixed;
    left: calc(50% + 50px);
    bottom: 70px;
    width: 150px;
    height: auto;
    z-index: 2;
}

.goldfish_L {
    position: fixed;
    left: calc(50% - 200px);
    bottom: 70px;
    width: 150px;
    height: auto;
    transform: scaleX(-1);
    z-index: 3;
}

/* Desktop */
.infoPanel {
    grid-column: 3;
    max-width: 300px;
}

/* Mobile */
@media (max-width: 768px) {
    .gameLayout {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infoPanel {
        max-width: 90%;
        text-align: center;
    }
}

/* text size */
.infoPanel h2 {
    font-size: clamp(24px, 3vw, 40px);
}

.infoPanel p {
    font-size: clamp(16px, 2vw, 22px);
}

.startButton {
    font-size: 48px;
    padding: 15px 30px;

    border: none;
    border-radius: 12px;

    background: #4caf50;
    color: white;

    cursor: pointer;
}

.startButton:hover {
    background: #43a047;
}

.resultsScreen {
    justify-content: center;
    align-items: center; 
}

.background_tint {
    position: absolute;
    inset: 0;
    background-image: url("/Assets/Game_Page/Round_Complete/Background\ Tint\ \(Round\ Complete\).png");
    background-position: center; 
    background-repeat: repeat;
    background-attachment: fixed; 
    z-index: 11;
}

.round_complete {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: auto;      
    z-index: 12;
}

.round_complete img {
    display: block;
    height: 100%;
    width: auto;
}

.result_correct {
    position: absolute;
    top: 52%;
    left: 20%;
}

.result_streak {
    position: absolute;
    top: 57%;
    left: 20%;
}

.result_score {
    position: absolute;
    top: 62%;
    left: 20%;
}

.result_correct,
.result_streak,
.result_score,
.numRounds {
    color: white;
    font-size: 36px;

    text-shadow:
        -2px -2px 0 #25648e,
         2px -2px 0 #25648e,
        -2px  2px 0 #25648e,
         2px  2px 0 #25648e;
}

.result_button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    z-index: 13;
}

.result_button img {
    height: 80px;
    width: auto;
}

.gameSettings {
    justify-content: center;
    align-items: center; 
}

.new_game {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: auto;      
    z-index: 12;
}

.new_game img {
    display: block;
    height: 100%;
    width: auto;
}

.six_button {
    position: absolute;
    height: 50px;
    width: auto;
    top: 57%;
    left: 65%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.four_button {
    position: absolute;
    height: 50px;
    width: auto;
    top: 57%;
    left: 18%;
    background: transparent;
    border: none;
    cursor: pointer;
}
.five_button {
    position: absolute;
    height: 50px;
    width: auto;
    top: 57%;
    left: 41.5%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.six_button span,
.five_button span,
.four_button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 4px black;
}

.add_button {
    position: absolute;
    height: 50px;
    width: auto;
    top: 70%;
    left: 65%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.subtract_button {
    position: absolute;
    height: 50px;
    width: auto;
    top: 70%;
    left: 18%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.numRounds {
    position: absolute;
    height: 50px;
    width: auto;
    top: 71.5%;
    left: 45%;
    text-align: center;
}

.play_button {
    position: absolute;
    height: 100px;
    width: auto;
    top: 81%;
    left: 13%;
    background: transparent;
    border: none;
    cursor: pointer;
}