.gameSelect {
    justify-content: center;
    align-items: center; 
}

.background_tint {
    position: absolute;
    inset: 0;
    background-image: url("/Assets/Game_Page/Round_Complete/Background\ Tint\ \(Round\ Complete\).png");
    background-position: center; 
    background-repeat: repeat;
    background-attachment: fixed; 
    z-index: 11;
}

.select_screen {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: auto;      
    z-index: 12;
}

.select_screen img {
    display: block;
    height: 100%;
    width: auto;
}

.goldfish {
    position: absolute;
    left: calc(50% - 75px);
    top: 70px;

    width: 150px;
    height: 150px;

    background-image: url("/Assets/Game_Page/Game/Goldfish.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.select_icon {
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translateX(-50%);
}

.select_icon img {
    width: 300px;
    height: auto;
    display: block;
}

.home_button {
    position: absolute;
    height: 20px;
    width: auto;
    top: 3%;
    left: 5%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.normal_mode {
    position: absolute;
    height: auto;
    width: 95%;
    top: 45%;
    left: 2.5%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.normal_mode img {
    display: block;
    width: 100%;
    height: auto;
}   

.streak_mode {
    position: absolute;
    height: auto;
    width: 95%;
    top: 67%;
    left: 2.5%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.streak_mode img {
    display: block;
    width: 100%;
    height: auto;
}  
