/*displaying canvas and info text*/
.gameLayout {
    flex: 1;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center; 
}

/* Desktop */
.infoPanel {
    max-width: 300px;
}

/* Mobile */
@media (max-width: 768px) {
    .gameLayout {
        flex-direction: column;
        align-items: center;
    }

    .infoPanel {
        max-width: 90%;
        text-align: center;
    }
}

/* text size */
.infoPanel h2 {
    font-size: clamp(24px, 3vw, 40px);
}

.infoPanel p {
    font-size: clamp(16px, 2vw, 22px);
}

.startButton {
    font-size: 48px;
    padding: 15px 30px;

    border: none;
    border-radius: 12px;

    background: #4caf50;
    color: white;

    cursor: pointer;
}

.startButton:hover {
    background: #43a047;
}

.resultsScreen {
    justify-content: center;
    align-items: center; 
}