input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.page_elements {
    position: relative;
    width: 100%;
    height: 100%;
}


.background {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.login_button {
    width: 16%;
    position: absolute;
    top: 1.75%;
    left: 80%;
    z-index: 1;
}

.button {
    width: 80%;
    position: absolute;
    top: 27%;
    left: 10%;
    z-index: 1;
}